<!DOCTYPE html>
<html lang="{{ page.lang }}" dir="{% if page.lang == 'he' %}rtl{% else %}ltr{% endif %}">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VRPQPPVQWT"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-VRPQPPVQWT');
    </script>
    
    <title>{% block title %}ShinMem | שמע מינה{% endblock %}</title>
    <meta property="og:title" content="{% block og_title %}ShinMem | שמע מינה{% endblock %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />
    <link rel="icon" type="image/png" href="/static/favicon.png"/>

    {% block additional_meta %}{% endblock %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" data-tag="font">

    <link rel="stylesheet" href="/static/app.css" />
    
    
  </head>
  <body>
    <div class="home-container">
      {% include "header.njk" %}
      
      {% block navigation %}
      {% endblock %}
    
      {% block main_content %}
        {{ content | safe }}
      {% endblock %}

      {% include "footer.njk" %}
    </div>
    
    {% block additional_js %}{% endblock %}
  </body>
</html>