{# src/_includes/book-card.njk #}
{# This template is included by index.njk and receives the 'book' variable from the loop. #}
{% set book_url = '/' ~ page.lang ~ '/books/' ~ (book.data.slug or book.fileSlug) ~ '/' %}

<div class="home-container3">
  <div class="blog-post-card3-blog-post-card blog-post-card3-root-class-name1">
    <a href="{{ book_url }}">
      <img
        alt="{{ book.data.title }} book cover"
        src="{{ book.data.image_src }}"
        class="blog-post-card3-image"
      />
    </a>
    <div class="blog-post-card3-container">
      <span class="blog-post-card3-text">
        <span>{{ book.data.author }}</span>
      </span>
      <h1 class="blog-post-card3-text1">
        <span><a href="{{ book_url }}">{{ book.data.title }}</a>
          {% if book.data.misc_info %}
            <em style="font-size:70%;font-weight: normal;">({{ book.data.misc_info }})</em>
          {% endif %}
        </span>
      </h1>
      <div class="blog-post-card3-container1">
        <span class="blog-post-card3-text2">
          <span>{{ book.data.description | safe }}</span>
        </span>
        <span class="blog-post-card3-text3"><a href="{{ book_url }}">{{ i18n.read_more[page.lang] }}</a></span>
      </div>
      
      {# Unified button group container #}
      <div class="button-group">
        {% if book.data.status == 'available' %}
          {% if book.data.hardcover_buy_now_url %}
            {# Dual edition mode - columns side-by-side #}
            <div class="buy-options-columns">
              {% if book.data.buy_now_url or book.data.il_buy_now_url %}
                <div class="buy-column">
                  {% if book.data.buy_now_url %}
                    <a href="{{ book.data.buy_now_url }}" target="_blank" rel="noreferrer noopener" class="button">
                      <span>{{ i18n.buy_paperback[page.lang] }}</span>
                    </a>
                  {% endif %}
                  {% if book.data.il_buy_now_url %}
                    <a href="{{ book.data.il_buy_now_url }}" target="_blank" rel="noreferrer noopener" class="button button-secondary">
                      <span>{{ i18n.buy_paperback_il[page.lang] }}</span>
                    </a>
                  {% endif %}
                </div>
              {% endif %}
              
              <div class="buy-column">
                <a href="{{ book.data.hardcover_buy_now_url }}" target="_blank" rel="noreferrer noopener" class="button">
                  <span>{{ i18n.buy_hardcover[page.lang] }}</span>
                </a>
                {% if book.data.hardcover_il_buy_now_url %}
                  <a href="{{ book.data.hardcover_il_buy_now_url }}" target="_blank" rel="noreferrer noopener" class="button button-secondary">
                    <span>{{ i18n.buy_hardcover_il[page.lang] }}</span>
                  </a>
                {% endif %}
              </div>
            </div>
          {% else %}
            {# Single edition mode (default) #}
            {% if book.data.buy_now_url %}
              <a
                href="{{ book.data.buy_now_url }}"
                target="_blank"
                rel="noreferrer noopener"
                class="button"
              >
                <span>{{ i18n.buy_now[page.lang] }}</span>
              </a>
              
              {% if book.data.il_buy_now_url %}
                <a
                  href="{{ book.data.il_buy_now_url }}"
                  target="_blank"
                  rel="noreferrer noopener"
                  class="button button-secondary"
                >
                   <span>{{ i18n.buy_now_il[page.lang] }}</span>
                </a>
              {% endif %}
            {% endif %}
          {% endif %}
        {% else %}
          <button type="button" disabled class="button button-disabled">
            <span>{{ i18n.out_of_print[page.lang] }}</span>
          </button>
        {% endif %}
      </div>
    </div>
  </div>
</div>
